:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg-color: #21242c;
  --secondary-bg-color: #2c303a;
  --active-bg-color: #373c49;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

#editorContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;

  height: 90vh;
  overflow: hidden;
}

.editor {
  min-height: 25vh;
  max-height: 75vh;
  overflow: none;
}

.horizontal {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#output {
  height: 50vh;
}

.editor,
.split,
#output {
  overflow-y: auto;
}

.buttons {
  display: inline-block;
}

#split {
  min-height: 300px;
  height: 500px;
  max-height: 800px;
}

.split-h {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 4px 1fr;
  width: 100%;
  grid-column: span 2;
}

.handle {
  grid-column: span 2;
  background-color: #ccc;
  cursor: ns-resize;
}

#smm {
  background-color: hsl(from var(--secondary-bg-color) h s 30%);
  /* filter:  */
  height: 100%;
}

#output {
  background-color: var(--secondary-bg-color);
  white-space: pre-line;

  p {
    padding: 0;
    margin: 0;
  }
}

.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: -1px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
  padding: 5px 10px;
}

.tabs-container {
  display: flex;
}

.tab {
  padding: 5px 10px;
  background: var(--secondary-bg-color);
  font-size: 14px;
  width: fit-content;
  display: inline-block;
  border-radius: 2px;
}

.tab.active {
  background-color: var(--active-bg-color);
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.button-tab {
  padding: 5px 10px;
  border-radius: 2px;
  background: var(--secondary-bg-color);
  font-size: 14px;
  width: fit-content;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.87);
}

.button-tab:hover {
  background: var(--active-bg-color);
}

.outputLine {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.outputLine.active {
  background-color: var(--active-bg-color);
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
}

.topContainer #id {
  font-weight: bold;
  margin-right: 10px;
}

.data-viz {
  height: 200px;
}

.notification {
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 1000px; /* Set a default minimum width */
  color: #000;
  background-color: #fff; /* Black background color */
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border-radius: 5px; /* Rounded borders */
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  .info {
    display: grid;
    grid-template-columns: 400px auto;
    margin-top: 10px;
  }

  .range {
    width: 100%;

    input {
      width: 80%;
    }
  }

  .button-container {
    margin-top: 40px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
  }

  #feedback {
    display: none;
  }

  #accept {
    padding: 10px 40px 10px 40px;
    background-color: #4287f5;
    outline: none;
    border: none;
    border-radius: 5px;
  }

  #accept:hover {
    background-color: #619cfa;
  }

  .option {
    border: none;
    background-color: none;
  }

  ul {
    list-style-type:none;
    padding:0px;
    li {
      list-style:none;
      text-decoration: none;
      .select {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
        background-color: transparent;
        margin-top: 10px;
        text-align: left;
        color: black;
        outline: none;
        border: 1px solid black;
        border-radius: 5px;
        p {
          margin-top: 10px;
        }
        .title {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }

      .select:hover {
        border-color: blue;
      }
    }
  }

}

.notification.active {
  visibility: visible !important; /* Show the snackbar */

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.notification.active > .notification-bg {
  visibility: visible !important; /* Show the snackbar */

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.notification-bg {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 1;
}

.padding {
  padding: 20px;
}


.output-container h3 {
  margin: 5px 10px;
}

.slider-container {
  width: 100%;
  font-family: Arial, sans-serif;
}

.slider-wrapper {
  position: relative;
  width: 50%;
}

.custom-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  border-radius: 100px;
  transition: opacity 0.2s;
}

.custom-slider:hover {
  opacity: 1;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  appearance: none;
  background: steelblue;
  cursor: pointer;
  border-radius: 50%;
}


.custom-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: steelblue;
  cursor: pointer;
  border-radius: 50%;
}

.slider-values {
  display: flex;
  align-items: space-between;
  justify-content: center;
  p {
    margin: 15px;
    text-align: center;
  }
}

.selected-value {
  position: relative;
  right: 20px;
  color: #666;
}
