:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg-color: #21242c;
  --secondary-bg-color: #2c303a;
  --active-bg-color: #373c49;
}

h1, h4 {
  margin: 0;
  padding: 0;
}

#editorContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;

  height: 90vh;
  overflow: hidden;
}

.editor {
  min-height: 25vh;
  max-height: 75vh;
  overflow: none;
}

.horizontal {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.editor, .split, #output {
  overflow-y: auto;
}

.buttons {
  display: inline-block;
}

#split {
  min-height: 300px;
  height: 500px;
  max-height: 800px;
}

.split-h {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 4px 1fr;
  width: 100%;
  grid-column: span 2;
}

.handle {
  grid-column: span 2;
  background-color: #ccc;
  cursor: ns-resize;
}

#smm {
  background-color: hsl(from var(--secondary-bg-color) h s 30%);
  /* filter:  */
  height: 100%;
}

#output {
  background-color: var(--secondary-bg-color);
  white-space: pre-line;

  p {
    padding: 0;
    margin: 0;
  }
}

#tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: -1px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tab {
  padding: 5px 10px;
  background: var(--secondary-bg-color);
  font-size: 14px;
  width: fit-content;
  display: inline-block;
  border-radius: 2px;
}

.tab.active {
  background-color: var(--active-bg-color);
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.button-tab {
  padding: 5px 10px;
  border-radius: 2px;
  background: var(--secondary-bg-color);
  font-size: 14px;
  width: fit-content;
  outline: none;
  border: none;
}

.button-tab:hover {
  background: var(--active-bg-color);
}

.outputLine {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.outputLine.active {
  background-color: var(--active-bg-color)
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification {
  display: grid;
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 500px; /* Set a default minimum width */
  color: #000;
  background-color: #fff; /* Black background color */
  position: fixed;
  top: 25%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border-radius: 2px; /* Rounded borders */
  z-index: 2;
}

.notification.active {
  visibility: visible !important; /* Show the snackbar */

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.notification.active > .notification-bg {
  visibility: visible !important; /* Show the snackbar */

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.notification-bg {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 1;
}

.padding {
  padding: 15px;
}

.padding > div > button {
  background: none;
  outline: none;
  border: none;
  color: blue;
  cursor: pointer;
}

.round-time-bar {
  height: 5px;
  transform-origin: left center;
  accent-color: red;
}
