:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  padding: 0;
}

#editorContainer {
  display: grid;

  height: 85vh;
}

.vertical {
  grid-template-columns: 1fr 1fr;
}

.horizontal {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#editor, #output {
  overflow-y: auto;
}


#output {
  background-color: #363535;
  white-space: pre-line;

  p {
    padding: 0;
    margin: 0;
  }
}

.button {
  margin: 10px;
}

.outputLine {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.active {
  background-color: #4d4b4b;
}
